.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.contact{
    display: flex;
    text-align: center;
}


.contact div{
    margin: 0 20px;
}